/*Global*/
nav {
  position: fixed; }

a {
  text-decoration: none; }

h2{
  font-size: 3em; }

/*color*/
.bg-blue {
  background-color: #354658; 
}
.bg-darkBlue {
  background-color: #233140; 
}
.bg-green {
  background-color: #29A35D; 
}
.bg-white {
  background-color: white; }

/*texto*/
.navbar-header > button{
  color:white;
}
.txt-black {
  color: black; }

.txt-white {
  color: white; }

.txt-orange {
  color: #e67e22 !important; }

.txt-gray {
  color: #B6BFBA; }

.txt-primary {
  color: #443e44; }

/*Padding*/

.pd5 {
  padding: 5%; }

.pd2 {
  padding: 2%; }

.pt-5 {
  padding-top: 5%; }

.pl-15 {
  padding-left: 15%; }

  /*Nav*/
.w-50{
  width: 50%;
}
.w-20{
  width: 20%;
}
/*Hover*/
.hover12 figure {
  background: #EB6726;
}
.hover12 figure img {
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.hover12 figure:hover img {
  opacity: .5;
}
___
.div span {
  position: absolute;
  bottom: -20px;
  left: 0;
  z-index: -1;
  display: block;
  width: 300px;
  margin: 0;
  padding: 0;
  color: #444;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  opacity: 0;
}
figure {
  margin: 0;
  padding: 0;
  background: #EB6726;
  overflow: hidden;
}
figure:hover+span {
  bottom: -36px;
  opacity: 1;
}
.text-hover{
  color: white;
  vertical-align: center;
}
div#carousel-example-generic {
    margin-top: -21px;
}
img.w-20.img-responsive {
    margin-top: -10px;
    z-index: 100;
    height: 36px;
    width: 53px;
}
a {
    color: white;
}
.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: #233140;
}
.carousel-caption {
    margin-bottom: 172px;
    font-size: 29px;
}
/*Nav-bar*/
.navbar-toogle{
 color: #233140; 
}
.navbar-inverse .navbar-toggle .icon-bar { 
 background-color: #e67e22 ; 
}
.navbar-toogle :hover{
  background-color: white !important; 
}
.navbar-inverse .navbar-toggle .icon-bar :hover { 
 background-color: white !important; 
}
.navbar-right{
  color: #e67e22 !important;
  background-color: #233140;
}
.nav .navbar-nav  >ul> li>a:hover{
  color: white;
  background-color: #e67e22 ;
}

img.img-responsive.certificate {
    width: 16%;
    margin-top: -157px;
    position: relative;
}
img#certificate1 {
    float: left;
    width: 118px;
    margin-left: 44px;
}
img#certificate2 {
    float: right;
    width: 160px;
}
/*----------media queries-------*/
@media only screen and (max-width: 500px) {
    img#certificate2 {
    width: 70px;
  }
  img#certificate1 {
    width: 45px;
    margin-left: 5px;
  }

img.img-responsive.certificate {
    margin-top: -60px;
  }
.carousel-caption {
    margin-bottom: 0;
    font-size: 14px;
  }
  h1, .h1 {
    font-size: 12px;
  }
  h2.txt-white.text-center {
    font-size: 25px;
    margin-top: 14px;
    margin-bottom: 12px;
    }
  h2.txt-white.pd2 {
    font-size: 25px;
    }
}
@media only screen and (min-width: 768px){
  .carousel-caption {
    margin-bottom: 84px;
    font-size: 25px;
  }
  h2.txt-white.text-center {
    margin-top: 20px;
    margin-bottom: 22px;
  }
}
@media screen and (min-width : 1440px){
    h1, .h1 {
    font-size: 69px;
    }
    .carousel-caption {
    margin-bottom: 137px;
    font-size: 39px;
    }
}

